@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply bg-gray-100;
}

.btn-primary {
  @apply bg-[#125f8a] text-white px-4 py-2 rounded hover:bg-[#0e4d6f] transition-colors duration-300;
}

.btn-secondary {
  @apply bg-gray-200 text-gray-800 px-4 py-2 rounded hover:bg-gray-300 transition-colors duration-300;
}



:root {
  --dark : #1a1a1a ;
  --mandarin : #EF7900;
  --mandarin2 : #F59E0B;
  --obsidian : #5A33AB;
}





/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* 
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
